@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Abel);

body  {
    padding-top: 120px;
    font-family: 'Abel';
    background-color: black;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(http://photo.sf.co.ua/g/95/2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
}

.navbar p{
  display: inline-block;
  /*font-family: 'HelveticaNeue-UltraLight';*/
  letter-spacing: 2px;
  padding-left: 30px;
  margin-top: 25px;
  font-size: 3.5em;
}

nav {
  display: inline-block;
}

.navbar li {
  font-family: 'Abel';
  font-family: 'HelveticaNeue-UltraLight';
  padding-right: 20px;
  font-size: 1.1em;
  color: orange;
}

.navbar-inverse .navbar-nav > li > a {
    font-family: 'Abel';
    color: orange;
    border: 1px solid orange;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar {
  height:120px;
  padding-bottom: 20px;
  background: linear-gradient( rgba(0, 0, 70, 0.9), rgba(50, 40, 70, 0.8) );
  display: inline-block;
}

.navbar ul{
  margin-top: 40px;
  display:inline-block;
}

.mainbod {

    -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: flat;
    transition: 0s ease;
    transition-property: background-position;
    transform-style: preserve-3d;
}

.aboutContainer {
  background: linear-gradient( rgba(0, 0, 70, 0.7), rgba(50, 40, 60, 0.7) );
}

h1 {
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 5em;
    text-align: center;
    padding: 0px;
    letter-spacing: 2px;
    background: url('icon.png') no-repeat left center;
}

h2 {
    padding-left: 40px;
    font-size: 3em;
    font-family: 'Abel';
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 300px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 0%;
    margin-top: 100px;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

hr {
  margin-left: 60px;
  margin-right: 60px;
}

.polls  {
  padding-top:20px;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}

.tpolls  {
  padding-top:20px;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}

.poll   {
  width:25%;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.scrapedpolls  {
  padding-top:20px;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}

.scrapedpoll   {
  width:25%;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

