@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);

body  {
    padding-top: 110px;
    font-family: 'HelveticaNeue-UltraLight';
    background-color: black;
}

.mainbod {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(http://photo.sf.co.ua/g/95/2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'HelveticaNeue-UltraLight';
    font-size: 5em;
    text-align: center;
    padding: 15px;
}

h2 {

    padding-left: 40px;
    font-size: 3em;
    font-family: 'HelveticaNeue-UltraLight';
}

.carousel .item {
    width: 100%; /*slider width*/
    max-height: 300px; /*slider height*/
}
.carousel .item img {
    width: 100%; /*img width*/
}
/*add some makeup*/
.carousel .carousel-control {
    background: none;
    border: none;
    top: 0%;
    margin-top: 100px;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.polls  {
  padding-top:50px;
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
.poll   {
  width:25%;
  margin-left:20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

