form {
    background-image: url("http://www.publicdomainpictures.net/download-picture.php?adresar=20000&soubor=rough-beige-paper-texture.jpg");
    opacity: 0.9;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: orange;
}

form h2 {
    padding-left: 20px;
    font-family: 'HelveticaNeue-UltraLight';
}

.form-group   {
  font-family: 'HelveticaNeue-UltraLight';
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 15px;
}
.form-group label   {
  font-family: 'HelveticaNeue-UltraLight';
  font-size:18px;
}

button {
    padding-bottom: 10px;
    display: block;
    width: 100%;
    padding-left:-20px;
}